/* Responsive Mobile Large */
@media screen and (min-width: 375px) {

    /* Side Bar */
    .side-bar {
        width: 200px;
        padding: 10px 20px;
    }

    .logo {
        display: inline-block;
    }

    .logo-icon {
        display: none;
    }

    .nav-list .icon {
        width: 15%;
    }

    .nav-list span {
        display: inline;
    }

    .playlist {
        display: inline-block;
    }

    /* Main Section */
    .main-section {
        width: calc(100% - 200px);
    }
}

/* Responsive Tablet */
@media screen and (min-width: 425px) {

}

/* Responsive Desktop */
@media screen and (min-width: 768px) {

}