/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTILITIES */


/* COMMON */
/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;

    /* debug */
    border: 2px solid #0000ff;
}

/* MAIN */
/* Top Block */
.top-block {
    height: calc(100% - 100px);
    display: flex;

    /* debug */
    background-color: #ffb6c1;
}

/* Side Bar */
.side-bar {
    width: 50px;

    /* debug */
    height: 100%;
    background-color: #ee82ee;
}

/* Main Section */
.main-section {
    width: calc(100% - 50px);
}

.upgrade-bar {
    height: 80px;

    /* debug */
    background-color: #f08080;
}

.content-section {
    height: calc(100% - 80px);
    overflow: scroll;

    /* debug */
    border: 3px solid #0c9b05;
}

/* Bottom Block */
.bottom-block {
    height: 100px;

    /* debug */
    background-color: #add8e6;
}